@font-face {
    font-family: Fira Sans;
    src: url(/static/FiraSans-Regular.otf);
    font-weight:400;
}
body {
    font-family: "Fira Sans";
}
#content {
    width: 75%;
    margin: auto;
}
#content > img {
    width: 100%;
}

#content > .search_results {
    list-style: circle;
}