#content {
    width: 1024px;
    height: 100%;
}
#content > * {
    width: 100%;
    clear: left;
}

#content #tags {
    border: none;
    border-bottom: solid black 1px;
    width: inherit;
}

#content #name {
    border: none;
    border-bottom: solid black 1px;
    font-size: 2em;
    width: inherit;
}

#content #editor {
    height:75%;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#content > #send_button {
    border: solid black 1px;
    border-radius: 3px;
    background-color: white;
}

.tab-container > ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    list-style: none;
}
.tab-container > ul a {
    padding: 2px;
    float: left;
    display: block;
    width: 49.4%;
    text-align: center;
    border: solid black 1px;
    text-decoration: none;
    color: black;
}

#meta-edit > *      { width: 100%;  }
#repo_url > input   { width: 74.5%; }
#project_host       { width: 25%;   }
